<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PedagoType - Treinamento de Digitação</title>
    <!-- Link para o CSS correto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1>PedagoType</h1>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Início</a></li>
                <li><a href="{{ url_for('main.start_typing') }}">Começar Treinamento</a></li>
                <li><a href="{{ url_for('main.about') }}">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="content">
            {% block content %}
            <!-- O conteúdo específico de cada página será inserido aqui -->
            {% endblock %}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 PedagoType. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
