{% extends 'base.html' %}

{% block title %}Bem-vindo - PedagoType{% endblock %}

{% block content %}
<div class="index-background">
    <div class="container text-center">
        <h2 class="my-4 animated-title">Bem-vindo ao <span style="color: #1ABC9C;">PedagoType</span>!</h2>
        <div class="welcome-box shadow-lg p-5 mb-4">
            <p class="lead fade-in" style="font-size: 1.5rem;">O <strong>PedagoType</strong> é um aplicativo inovador desenvolvido para unir o aprendizado de conceitos pedagógicos com a prática de digitação.</p>
            <p class="mb-4 fade-in delay-1" style="font-size: 1.3rem;">Nossa plataforma foi criada para auxiliar alunos e educadores a aprimorarem suas habilidades de digitação de maneira prática e educativa.</p>
            <ul class="text-left feature-list fade-in delay-2">
                <li><i class="fas fa-check-circle"></i> Aprimorar sua velocidade e precisão na digitação</li>
                <li><i class="fas fa-check-circle"></i> Aprender enquanto digita</li>
                <li><i class="fas fa-check-circle"></i> Acompanhar seu progresso</li>
                <li><i class="fas fa-check-circle"></i> Desafiar-se continuamente</li>
                <li><i class="fas fa-check-circle"></i> Engajar-se em um ambiente interativo e motivador</li>
            </ul>
            <p class="fade-in delay-3" style="font-size: 1.3rem;">Para começar a praticar, utilize a opção <strong>Treinamento</strong> no menu superior. Explore todas as funcionalidades que o <strong>PedagoType</strong> oferece e descubra uma nova maneira de aprender e se aprimorar na digitação.</p>
        </div>
    </div>
</div>
{% endblock %}
